version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: container-api-gestao-competicoes
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '2.0'
        reservations:
          memory: 256M
          cpus: '1.0'
    environment:
      #SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    volumes:
      # Caminhos refatorados para o servidor
      - /data/gestao-competicoes/logs:/app/logs
      - /data/gestao-competicoes/volumes:/app/data
    networks:
      - rede_esportes_dev

networks:
  rede_esportes_dev:
    external: true