version: '3.8'

services:
  db:
    image: postgres:17.0
    container_name: db-gestao-competicoes
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.5'
        reservations:
          memory: 256M
          cpus: '0.25'
    environment:
      POSTGRES_DB: gestao_competicoes_db
      POSTGRES_USER: admin_esportes
      POSTGRES_PASSWORD: senha_segura_123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rede_esportes_dev

volumes:
  postgres_data:

networks:
  rede_esportes_dev:
    driver: bridge